---
import GithubLogo from "phosphor-astro/GithubLogo.astro";
const projects = [
  {
   time: "2024",
   title: "Tiptap extensions",
   gh:"https://github.com/harshtalks/tiptap-plugins",
   skills: [
      "React",
      "Typescript",
      "NPM Package Publishing Best Practices"
   ],
   description: [
      "Open source tiptap extensions for - Image Resizer and Aligner, and Notion like Slash CMD."
   ]
  },
    {
     time: "2024",
     title: "Tempeh",
     gh:"https://tempeh-docs.vercel.app/",
     skills: [
        "React",
        "Typescript Generics",
        "Next.js",
        "Zod"
     ],
     description: [
        "Declerative Routing (inspired by React Router) library for Next.js.",
        "CLI tool to bootstrap and generate routes in the project.",
        "Supports type safe routing with typed parameters and search params. useRouter similar APIs at route level to extend the schema validated type safety.",
        "Supports type safe server actions with typed input/output. Inspired by Astro's server actions API.",
     ]
    },
    {
        time: "Ongoing",
        title:"Derivative",
        description: [
`Saas platform for programmatic invoices written in Typescript, Next, trpc and Effect-TS.`,
`Notion style schema driven wysiwyg compatible invoice editor - end to end serialization.`,
`Custom MFA auth written in lucia, sqlite and web-auth.`
        ],
        gh: "https://github.com/harshtalks/derivative",
        skills: [
            "Next.js",
            "RSC",
            "Typescript",
            "trpc",
            "Node.js",
            "Hono",
            "Drizzle",
            "Sqlite",
            "Redis",
            "REST API",
        ]
    },
//     {
//         time: "2023",
//         title: "Scraptical",
//         description: [
//             `Led the development of a Next.js application with FastAPI and microservices architecture to scrape and analyze large
// volumes of Amazon product reviews using NLP and Sentimental Analysis.`,
// `Applied Python to categorize each review as positive, negative, or neutral, and assigned weights based on impact,
// providing nuanced insights into customer sentiment.`,
// `Utilized API-driven architecture to enable businesses to easily integrate the tool into their existing infrastructure and
// obtain valuable insights quickly.`
//         ],
//         skills: [
//             "Next.js",
//             "Typescript",
//             "Python",
//             "FASTAPI",
//             "NLP",
//             "Web Scraping"
//         ],
//         gh: "https://github.com/TARP-bbs/scraptical-main"
//     },
    {
        title: "Proximi",
        time:"2023",
        skills: [
            "Go",
            "Postgres",
            "Geohashing",
            "REST API Design",
            "OpenAPI specs 2.0",
            "Auth",
            "ORM"
        ],
        description: [
            `Developed GoLang-based API Service facilitating a location-based service discovery platform, employing geohashing
techniques on a dumped yelp database to efficiently locate nearby businesses for users in real time.`,
`Orchestrated a robust authentication layer utilizing custom JWT (JSON Web Tokens) for secure user access, while
implementing a sophisticated rate limiter to maintain optimal API performance and prevent abuse.`,
        ],
        gh: "https://github.com/harshtalks/proximi"
    }
]
---

<div>
      <!-- Heading  -->
    <h4 class="text-base">Personal Projects</h4>

    <div class="space-y-12">
        {
            projects.map(project => <div class="md:grid space-y-2 md:space-y-0 md:grid-cols-4  md:gap-12">
            <!-- Duration  -->
            <div class="text-zinc-500 col-span-1">
                <p>{project.time}</p>
            </div>

            <!-- Actual Details  -->
            <div class="space-y-2 col-span-3">

                <div class="flex items-center gap-2">
                    <h4 class="!m-0 text-base text-zinc-700">{project.title}</h4>
                    <a href=`${project.gh}` target="_blank"><GithubLogo class="h-6 text-zinc-500 w-6 inline hover:text-zinc-900"/></a>
                </div>
                <div class="text-zinc-700 text-sm">
                    {project.description.map(el => <p class="!m-0">{el}</p>)}
                </div>
                <!-- Skills  -->
                <div class="text-zinc-500 text-sm flex justify-start items-center gap-3 flex-wrap">
                    {project.skills.map((el) =>
                        <p class="!m-0">{el}</p>
                    )}
                </div>
            </div>
        </div>)
        }
    </div>
</div>
